.Dictionary input {
    width: 100%;
    border-radius: 5px;
    padding: 6px 4px;
    border: 1px solid #ddd;
  }
  
  .Dictionary form {
    line-height: 36px;
    background: #ffffff;
    margin: 20px auto;
    padding: 8px 18px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0);
    /* box-shadow: 0 5px 15px 3px rgba(204, 204, 204, 0.5); */
  }
  
  .Dictionary .hint {
    text-align: left;
    font-size: 11px;
    opacity: 0.6;
  }
  .Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
